<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel = "stylesheet" type="text/css" href="home.css">
 
       <script src="app.js" defer></script>
       <link rel ="manifest" href="cw2.webmanifest"> 
       <script src="data/courses.js" defer></script>
  
    <title>After school club</title>
</head>
<body>
    <div id="coursesDispaly">
        <h1> courses555:</h1>
        <button id="notifications" >notification</button>
        <div v-for="course in courses" class="course">
            <ul> 
            <li v-for='(value, name) in course'>
                {{name}}: {{value}}
            </li>
             </ul>  
        </div>
    </div>
    <section id="content">
      <article v-for="course in courses">
        <img src='data/images/blur.jpg' data-src="data/images/image2.jpg"  alt='name' width="200" height="200"></img>
        
     
       
        <h2>{{course.topic}}</h2>
        <ul>
          <li>provider:<strong>{{course.provider}}</strong></li>
          <li>location:{{course.location}}</li>
          <li>price:{{course.price}}</li>
          <li>Ranking:{{course.ranking}}</li>
         
          
        </ul>
      </article>
    </section>
  
   <div  id="usersSearch">
        <h1> search for users by email11:</h1>
        <label >enter your email</label>
        <input required type="text" name ="useremail" v-model="useremail">
        
        <button v-on:click='searchForUsers'>submit</button><br>
   
            <strong>name:{{usersdetails.username}}</strong><br>
            <strong>{{usersdetails.email}}</strong>
            <div v-for="user in usersdetails" class="course">
              <ul> 
              <li v-for='(value, name) in user'>
                  {{name}}: {{value}}
              </li>
               </ul>  
          </div>
                   
    </div>
        
        <div id="createAccount">
            <h1 style="text-align:center">Create An Account </h1>
            <h2 id="regmessage"></h2>
            <form>
                <label for="username">User Name</label>
                 <input required type="text" name ="username" v-model="username">
                 <label for="email">Email</label>
                 <input required type="email" name ="email" v-model="email"  >
                 <label for="password">Password</label>
                 <input required type="password" name ="password" v-model="password">
                 <button v-on:click='createAccount'>submit</button>
        
            </form>
            </div>
          
            
            <h1>uodate courses</h1>
            <form id="updateCourses">
                <label >id</label>
                 <input  type="text" name ="id" v-model="id">
                 <label >topic</label>
                 <input type="text" name ="topic" v-model="topic">
                 <label >location</label>
                 <input  type="text" name ="location" v-model="location">
                 <label >price</label>
                 <input  type="text" name ="price" v-model="price">
                 
                 <button v-on:click='updateData'>submit</button>
                 </form>
                 

        
        <div id="deleteCourses">
        <form>
            <h1>delete course</h1>
            <label >id</label>
             <input  type="text" name ="id" v-model="idDel">
             
             <button v-on:click='deleteData'>submit</button>
             </form>
        </div>

        <div  id="RetriveCoursesbyPro">
          <h1> search for users by email22:</h1>
          <label >enter your email</label>
          <input required type="text" name =" providerName" v-model=" providerName">

          <button v-on:click='serachProCourses'>submit</button><br>
     
              <strong>{{ coursesByprovider.topic}}</strong><br>
              <strong>{{ coursesByprovider.price}}</strong><br>
              <strong>{{ coursesByprovider.location}}</strong><br>
              <strong>{{ coursesByprovider.reviewRanking}}</strong>
                     
      </div>
 
  
        
    <script>
    

      

fetch('http://localhost:3000/collections/lessons')
.then(function(response)
{
 return response.text()
   }).then(function(text)
   {
       alert(text);
       testing.courses = JSON.parse(text);
   }).catch(function(err){
console.log('Fetch problem: '+err.message);
});

var displayblur = new Vue({
                el: '#content',
                data: {

                    courses : [ { 'slug':'lego','topic': 'Lego', 'provider':'mike laley', 'location': 'hendon', 'price': 100 , 'ranking':[{'user':'email1','ranking':5},{'user':'email2','ranking':3}]},
      { 'slug':'image2','topic': 'Dancing', 'provider':'micheal promt', 'location': 'Greater London', 'price': 140 },
      {'slug':'image3', 'topic': 'Sitch','provider':'Mary Bow',  'location': 'Colindale', 'price': 80 },
      {'slug':'image4', 'topic': 'Sport of under 4','provider':'Lehla Megan',  'location': 'Brent Cross', 'price': 90 },
      {'slug':'image5', 'topic': 'Skateboarding','provider':'Brian Sama',  'location': 'Hackney', 'price': 200 },
      {'slug':'image6', 'topic': 'Robots for kids','provider':'Priti Patel',  'location': 'Downing Street', 'price': 190 },
      {'slug':'image7', 'topic': 'Feel at Home','provider':'Nana Kwami',  'location': 'Ilford ', 'price': 299 },
      {'slug':'image8', 'topic': 'Bounce','provider':'Kean Lee',  'location': 'Tottenham', 'price': 179 },
      {'slug':'image9', 'topic': 'Multi Sport','provider':'Sata Rahmani',  'location': 'Seven sisters', 'price': 90 },
      {'slug':'image10', 'topic': 'Coaching','provider':'Garry Williams',  'location': 'Bruce Grove', 'price': 245 },
      ]
 }})

var testing = new Vue({
                el: '#coursesDispaly',
                data: {

                    courses :[]
 }})

 var testing3 = new Vue({
                el: '#createAccount',
                data: {
                    username:'',
                  email:'',
                  password:'',
                                 
},
methods:{
    createAccount:function () {
   fetch(`/collections/users`, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    headers: {
    'Content-Type': 'application/json',
  },
    
    body: JSON.stringify({username: this.username, email: this.email, password: this.password }) 
  }).then(function (response){
      return response.json()
  }).then(function(data){
  console.log('post rest', data)
  })
}
}})

 var testing3 = new Vue({
el: '#updateCourses',
data: {
id:'',
topic:'',
    location:'',
    price: '',                
},
methods:{
     updateData:function () {
         var topicid = this.id
         var pricee = this.price;
         var pointNum = parseFloat(pricee);
        
         alert(pointNum  );
  
   fetch(`/collections/lessons/${topicid}`, {
    method: 'PUT', // *GET, POST, PUT, DELETE, etc.
    headers: {
    'Content-Type': 'application/json',
  },
    
    body: JSON.stringify({topic: this.topic, location: this.location,price: pricee }) 
  }).then(function (response){
      return response.json()
  }).then(function(data){
  console.log('post rest', data)
  })
}
}})


  
  var testing4 = new Vue({
                el: '#deleteCourses',
                data: {
                    idDel:'',
                                 
},
methods:{
     deleteData:function () {
         var topicid = this.idDel
        
  
   fetch(`/collections/lessons/${topicid}`, {
    method: 'delete', // *GET, POST, PUT, DELETE, etc.
    headers: {
    
  },
    
    body: JSON.stringify({id: this.idDel}) 
  }).then(function (response){
      return response.json()
      alert()
  }).then(function(data){
  console.log('post rest', data)
  alert(data)
  })
}}
})


// retrive courses by provider
var Retrive = new Vue({
                el: '#RetriveCoursesbyPro',
                   data: {
                  providerName:'',
                  coursesByprovider:''
                                 
},
methods:{
    serachProCourses :function () {
         var provider = this.providerName
        
  
   fetch(`/collections/lessons/providers/couseprovider/${provider}`)
   .then(function(response)
{
 return response.text()
   }).then(function(text)
   {
       alert(text);
       Retrive.coursesByprovider  = JSON.parse(text);
       Retrive.coursesByprovider = JSON.parse(text);
   }).catch(function(err){
console.log('Fetch problem: '+err.message);
});
}}
})


  var searchusers = new Vue({
                el: '#usersSearch',
                data: {
                  
                    useremail:'',
                    usersdetails :[],
                  
                 },
methods:{
   searchForUsers:function (){
       var email = this.useremail
       fetch(`/collections/users/emails/${email}`)
       .then(function(response)
{
 return response.text()
   }).then(function(text)
   {
       alert(text);
       
       searchusers.usersdetails = JSON.parse(text);
   }).catch(function(err){
console.log('Fetch problem: '+err.message);
});
}}
  })

         // <img src="'data/images/'+course.slug+'.jpg'" alt="course.name" width="200" height="200">             
    </script>
    
</body>
</html>