<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="app.js" defer></script>
    <title>Document</title>
</head>
<body>
    <button onclick="window.location.href = 'index.html';">Home page</button>
    <button onclick="window.location.href = 'accounts.html';">register/login</button>
    

        <div id="createCourses">
            <h1>create Course</h1>
            <form>
                 <label >topic</label>
                 <input type="text" name ="topic" v-model="topic">
                 <label >location</label>
                 <input  type="text" name ="location" v-model="location">
                 <label >price</label>
                 <input  type="text" name ="price" v-model="price">
                 <label >provider's Name</label>
                 <input  type="text" name ="providerName" v-model="providerName">
                 
                 <button v-on:click='create'>submit</button>
                 </form>


          </div>

          <div id="updateCourses">
            <h1>update courses</h1>
            <form>
                <label >id</label>
                 <input  type="text" name ="id" v-model="id">
                 <label >topic</label>
                 <input type="text" name ="topic" v-model="topic">
                 <label >location</label>
                 <input  type="text" name ="location" v-model="location">
                 <label >price</label>
                 <input  type="text" name ="price" v-model="price">
                 
                 <button v-on:click='updateData'>submit</button>
                 </form>
                </div>

                 <div id="deleteCourses">
                    <form>
                        <h1>delete course</h1>
                        <label >id</label>
                         <input  type="text" name ="id" v-model="idDel">
                         
                         <button v-on:click='deleteData'>submit</button>
                         </form>
                    </div>

                    <div  id="usersSearch">
                        <h1> search for users by email:</h1>
                        <label >enter your email</label>
                        <input required type="text" name ="useremail" v-model="useremail">
                        
                        <button v-on:click='searchForUsers'>submit</button><br>
                   

                       
                            <section id="usersinfo">
                    
                            </section>    
                        </div>
                           
                                   
                   
         
        <script>
  



//updating a course by ID

var testing3 = new Vue({
el: '#updateCourses',
data: {
id:'',
topic:'',
    location:'',
    price: '',                
},
methods:{
     updateData:function () {
         var topicid = this.id
         var pricee = this.price;
         var pointNum = parseFloat(pricee);
        
         alert(pointNum  );
  
   fetch(`http://localhost:3000/collections/lessons/${topicid}`, {
    method: 'PUT', // *GET, POST, PUT, DELETE, etc.
    headers: {
    'Content-Type': 'application/json',
  },
    
    body: JSON.stringify({topic: this.topic, location: this.location,price: pricee }) 
  }).then(function (response){
      return response.json()
  }).then(function(data){
  console.log('post rest', data)
  })
}
}})
/// delete course by id

var testing4 = new Vue({
                el: '#deleteCourses',
                data: {
                    idDel:'',
                                 
},
methods:{
     deleteData :function () {
         var topicid = this.idDel
        
  
   fetch(`/collections/lessons/${topicid}`, {
    method: 'delete', // *GET, POST, PUT, DELETE, etc.
    headers: {
    
  },
    
    body: JSON.stringify({id: this.idDel}) 
  }).then(function (response){
      return response.json()
      alert(id)
  }).then(function(data){
  console.log('post rest', data)
  alert(data)
  })
}}
})

//serach for users by email 

var users = new Vue({
    el: '#usersSearch',
    data: {
        useremail:'',
        usersdetails :[],
      

},
methods:{  
    searchForUsers: function () { 
    var email= this.useremail
fetch(`http://localhost:3000/collections/users/emails/${email}`)
.then(function(response)
{
return response.text()
}).then(function(text)
{
   alert(text);
   var usersdetails =[];
   usersdetails = JSON.parse(text);

   var template = "<article>\n\
<h3><span>name:</span>NAME</h3>\n\
<ul>\n\
<li><span>Email:</span> <strong>EMAIL</strong></li>\n\
<li><span>User status:</span><strong>USERTYPE</strong></li> \n\
</ul>\n\
</article>";
var content = '';
for(var i=0; i< usersdetails.length; i++) {

var entry = template.replace(/POS/g,(i+1))
 
.replace(/NAME/g, usersdetails[i].username)
.replace(/EMAIL/g,usersdetails[i].email)
.replace(/USERTYPE/g,usersdetails[i].userType)



entry = entry.replace('<a href=\'http:///\'></a>','-');
content += entry;
};
document.getElementById('usersinfo').innerHTML = content;






   
   testing.courses = JSON.parse(text);
}).catch(function(err){
console.log('Fetch problem: '+err.message);
})
}
}
}
);
  
        
        </script>
    
</body>
</html>